.main, .footer {
    width: 100%;
    max-width: 700px;
    margin: 25px auto;
}

.main__title {
    color: #5C523E;
    margin: 0px 0px 25px 0px;
    padding-top: 50px;
}

.section__title, .article__title {
    color: #5C523E;
}

.section__paragraph, .article__paragraph {
    color: #8B7F68;
    padding: 0px 20px;
}

.section__paragraph--color{
    color: #A44200;
}

.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.navigation {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px;
    background: #8B7F68;
}

.footer {
    color: #D3CBBA;
}

.navigation__link {
    color: #D3CBBA;
}

.main__box {
    width: 100px;
    height: 100px;
    background: #8B7F68;
    padding: 10px;
    border: 10px solid black;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    left: 50%;
}

.footer__image{
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 16px auto;
}