body {
    color: #FFFAF0;
}

.main{
    width: 100%;
    max-width: 700px;   
    margin: 25px auto;
}

.mainHeader {
    color: #5C523E;
    margin: 0px 0px 25px 0px;
    
}
.secondHeader {
    color: #5C523E;
}

.paragraph {
    color: #8B7F68;
    padding: 0px 20px;
    
}



.mainFooter{
    color: #D3CBBA;
}

.link{
color:  #8B7F68;   
}

.prepareSection {
    
}
