.main, .footer {
    width: 100%;
    max-width: 700px;
    margin: 25px auto;
}

.main__title {
    color: #5C523E;
    margin: 0px 0px 25px 0px;
    padding-top: 50px;
}

.section__title, .article__title {
    color: #5C523E;
}

.section__paragraph, .article__paragraph {
    color: #8B7F68;
    padding: 0px 20px;
    line-height: 32px;
    text-align: justify;
}

.section__paragraph--color{
    color: #A44200;
}

.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px;
    background: #8B7F68;
    text-decoration: none;
    

.footer {
    color: #D3CBBA;
}

.navigation__link {
    color: #D3CBBA;
    
}
}



.footer__image{
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 16px auto;
}